@font-face {
   font-family: 'SFUIDisplay-Heavy';
   font-display: swap;
   src: url('SFUIDisplay-Heavy/font.ttf');
}
@font-face {
   font-family: 'SFUIDisplay-Black';
   font-display: swap;
   src: url('SFUIDisplay-Black/font.ttf');
}
@font-face {
   font-family: 'SFUIDisplay-Regular';
   font-display: swap;
   src: url('SFUIDisplay-Regular/font.ttf');
}
@font-face {
   font-family: 'SFUIText-Light';
   font-display: swap;
   src: url('SFUIText-Light/font.ttf');
}
