@font-face {
   font-family: 'SFUIDisplay-Regular';
   font-display: swap;
   src: url('file:///Users/misael/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-11-20_001809/fonts/SFUIDisplay-Regular/font.ttf');
}
